@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "regular";
  src: url(assets/Trace-lxy0.ttf) format("woff");
}

.dashed-font {
  font-family: "regular", sans-serif;
}
